@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
}
ul {
    display: flex;
    align-items: center;
}
li {
    list-style: none;
    margin-left: 20px;
}